*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
  display: inline-block; 
  text-align: center;
}

body {  
  margin: 0;
  background-color: #d8f7e1;
}

h2 { 
  font-size: 1.4rem;
  font-weight: bold;
}

h3 {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  color: #959fa4;
}

#controls, #timer {
  display: grid;
  place-items: center;
  margin: 0.5rem 0;
}

.control-group {
  margin-bottom: 1rem;
}

.control-group > button{
  margin: 1rem;
}

.card-grid { 
  padding: 5%;
  max-width: 1200px; 
  margin: 0 auto; 
  display: grid; 
  grid-gap: 2rem; 
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card { 
  background-color: white; 
  box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.card-title {
  border-radius: 10px 10px 0 0 ;
  background-color: #67b37b;
  color:white !important;
  margin-bottom: 1.5rem;
}

.card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
 .card-grid {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 } 
}