name: Build firmware

on:
  push:
    branches:
      - "master"

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # - name: Load environment variables
      #   run: |
      #     mv src/env-template.h src/env.h

      - name: Installing platformio
        run: pip3 install -U platformio

      - name: Building a firmware
        run: |
          export SSID=${{ secrets.WIFI_SSID }}
          export PASS=${{ secrets.WIFI_PASS }}
          export JOINCODE=${{ secrets.HUSARNET_JOIN_CODE }}
          export HOSTNAME=${{ secrets.HUSARNET_HOSTNAME }}
          pio lib install
          pio run
